@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@utility container {
    margin-inline: auto;
    padding-inline: 9rem;
    padding: 0 1rem;
  }

 
  @theme {
    --color-primary-color: #FFA62B;
    --color-secondary-color-1: #00A0C1;
    --color-secondary-color-2: #16697A;
    --color-text-color: #252B42;
    --color-second-text-color: #737373;
    --color-dark-background-color: #252B42;
    --color-dark-hover-color: #2A7CC7;
    --color-dark-disabled-element-color: #8EC2F2;
    --color-dark-muted-color: #BDBDBD;
    --color-dark-success-color: #2DC071;
    --color-dark-alert-color: #E77C40;
    --color-dark-danger-color: #E74040;

    /* fonts */
    --font-Montserrat: "Montserrat", sans-serif;

    /* breakipoints */
    --breakpoint-*: initial;
    --breakpoint-sm: 575px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1050px; 
   
  }

  html,
  body {
    font-family:  "Montserrat", sans-serif;
    letter-spacing: 0.2px;
  }

 
  

  @media (min-width:1024px) {
    .box-shadow {
      box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07)
    }
  }


.hover-container:hover {
  background-color: #252B42;
  padding-top: 35px;
  padding-bottom: 35px;
  transition: all linear 0.3s;
}

.hover-container:hover path {
  fill: #16697A;
}

.hover-container:hover .head {
  color: #fff;
}
.hover-container:hover .para {
  color: #fff
}
.btn:hover {
  background-color: white;
  border: none;
  transition: all linear 0.3s;
  padding-left: 36px;
  padding-right: 20px;
}
.btn:hover h4 {
  color: #FFA62B;
}
.btn:hover span {
  opacity: 0;
}


.swiper-slide {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.swiper-slide-active {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  z-index: 2; 
}


.swiper-slide-prev,
.swiper-slide-next {
  transform: translateY(0); 
  opacity: 0.7;
}

.button {
  display: inline-block;
  position: relative;
}
.button.is-play {
  background-color: #00A0C1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.button.is-play .button-outer-circle {
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.button.is-play .button-icon .triangle {
  -webkit-animation: fadeIn 7s ease;
          animation: fadeIn 7s ease;
}
.button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  -webkit-animation: triangleStroke 3s;
          animation: triangleStroke 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.has-scale-animation {
  -webkit-animation: smallScale 3s infinite;
          animation: smallScale 3s infinite;
}
.has-delay-short {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
